<app-navbar></app-navbar>

<div class="login-container">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="login-form">
    <h2 class="login-title">Sign In</h2>
    
    <div class="form-group">
      <input
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        #emailModel="ngModel"
        placeholder="Email"
        class="form-control"
        required
        email
      />
      <!-- Messages d'erreur pour l'email -->
      <div *ngIf="emailModel.touched && emailModel.invalid">
        <small *ngIf="emailModel.errors?.['required']" class="error-message">L'email est obligatoire.</small>
        <small *ngIf="emailModel.errors?.['email']" class="error-message">L'email est incorrect.</small>
      </div>
    </div>
    
    <div class="form-group">
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        #passwordModel="ngModel"
        placeholder="Password"
        class="form-control"
        required
        minlength="6"
      />
      <!-- Messages d'erreur pour le mot de passe -->
      <div *ngIf="passwordModel.touched && passwordModel.invalid">
        <small *ngIf="passwordModel.errors?.['required']" class="error-message">Le mot de passe est obligatoire.</small>
        <small *ngIf="passwordModel.errors?.['minlength']" class="error-message">Le mot de passe doit contenir au moins 6 caractères.</small>
      </div>
    </div>
    
    <button (click)="SignIn()" type="submit" class="btn-submit" [disabled]="!loginForm.valid">
      Login
    </button>
    
    <p class="signup-text">
      Not registered yet? <a [routerLink]="['/sign-up']" class="signup-link">Sign Up</a>
    </p>
  </form>
</div>
